// make sure menu is after the config
@import 'config';
@import 'menu';

* {
    box-sizing: border-box;
}

body {
    @include background;
    background: $primary-color;
    color: #fff;
    height: 100%;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;

}

// headings
h1, h2, h3 {
    margin: 0;
    font-weight: 400;
    &.lg-heading {
        font-size: 6rem;
    }
    &.sm-heading{
        margin-bottom: 5rem;
        padding: 0.5rem, 2rem;
        background: rgba(lighten($primary-color, 4), 0.5)
    }

}

a {
    color: #fff;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color: $color-secondary;
}

main {
    padding: 5rem;
    height: 100%;
    min-height: calc(100vh - 60px);

    .icons{
        margin-top: 1rem;

    a {
        padding: 0.2rem;
        &:hover {
            color: $icon-color;
            @include easeOut;
        }
    }
    }
    &#home {
        overflow: hidden;
        h1 {
            margin-top: 20vh;
        }
    }
}

.about-info {
    display: grid;
    grid-gap: 30px;
    // make up a three fractional(fr) grid 
    grid-template-areas: 
        "portrait-img bio-text bio-text"
        "pro1 pro2 pro3"; 
    grid-template-columns: repeat(3, 1fr);

    .bio-img {
        grid-area: portrait-img;
        margin: auto;
        border-radius: 50%;
        border: $portrait-color 3px solid;
    }
    
    .bio {
        grid-area: bio-text;
        font-size: 1.5rem;
    }
    
    .pro-1 {
        grid-area: pro1;
    }
    
    .pro-2 {
        grid-area: pro2;
    }
    
    .pro-3 {
        grid-area: pro3;
    }
    
    .project {
        background: lighten($primary-color, 5);
        margin: auto;
        padding: 0.5rem;
        border: #70adb5 solid 3px;
    }
}

#main-footer {
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 8);
    color: $color-secondary;
    height: 60px;
}

@import 'mobile';
